<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cardio: Free One Page Template by Luka Cvetinovic</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="../static/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../static/img/favicons/manifest.json">
	<link rel="shortcut icon" href="../static/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="../static/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="../static/css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="../static/css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="../static/fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="../static/css/cardio.css">
</head>

<body>
	<div class="preloader">
		<img src="../static/img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#" data-toggle="amodal" data-target="#amodal1" class="btn btn-blue">VENUE</a></li>
					<li><a href="#Turing">Quantum Lab</a></li>
					<li><a href="#VonNewmann">Lecture Hall 4</a></li>
					<li><a href="#Lovelace">Lecture Hall 5</a></li>
					
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2 class="light white">Saavishkaar 2k16</h2>
							<h1 class="white typed">An Open day @ Rajagiri</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h3 class="white heading hide-hover">Turing Lab</h3>
						<div class="bottom">
							<h4 class="white heading small-pt">OS System Evolution</h4>
							<h4 class="white heading small-pt">Gravity Box-Ad Blocker</h4>
							<h4 class="white heading small-pt">Evolution of Websites</h4>
							<a href="#" class="btn btn-white-fill expand">Quantum Lab</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h3 class="white heading hide-hover">Von Newmann</h3>
						<div class="bottom">
							<h4 class="white heading small-pt">Virtual Reality</h4>
							<h4 class="white heading small-pt">Hardware and Networking</h4>
							<h4 class="white heading small-pt">The Wiki Game</h4>
							<a href="#" class="btn btn-white-fill expand">Lecture Hall 4</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h3 class="white heading hide-hover">Lovelace</h3>
						<div class="bottom">
							<h4 class="white heading small-pt">Moviesort</h4>
							<h4 class="white heading small-pt">Impetus</h4>
							<h4 class="white heading small-pt">Google Now vs Siri</h4>
							<a href="#" class="btn btn-white-fill expand">Lecture Hall 5</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="Turing" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Turing Lab</h2>
				<h4 class="light muted">Alan Mathison Turing  was a pioneering English computer scientist, mathematician, logician, cryptanalyst and theoretical biologist.</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/team-cover1.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">You can't believe first gen OS!</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>OS System Evolution</h4>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t2.png'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Geek way of blocking ads</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Gravity-Box Ad Blocker</h4>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/team-cover3.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">See how websites evolved</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Evolution of Websites</h4>
							
						</div>
						
					</div>
				</div>
	</section>
	<section id="VonNewmann" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Von Newmann</h2>
				<h4 class="light muted">John von Neumann  was a Hungarian-American pure and applied mathematician, physicist, inventor, computer scientist, and polymath.</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t4.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Chimera..!</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Virtual Reality</h4>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t5.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Learn abt h/w and n/w</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Hardware And Networking</h4>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t6.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Try the wiki game..!</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>The Wiki Game</h4>
							
						</div>
						
					</div>
				</div>
	</section>
	<section id="Lovelace" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Lovelace</h2>
				<h4 class="light muted">Augusta Ada King-Noel was an English mathematician and writer, chiefly known for her work on Charles Babbage's early mechanical general-purpose computer, the Analytical Engine. </h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t7.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Automated toll plaza</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Impetus</h4>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t8.jpeg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">See how well u can sort</h3>
								
							</div>
						</div>
							
						<div class="title">
							<h4>Moviesort</h4>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../static/img/team/t9.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Clash of technology</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Google Now vs Siri</h4>
							
						</div>
						
					</div>
				</div>
	</section>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Department of Information and Technology</h3>
					<h5 class="light regular light-white">Saavishkaar 2k16</h5>
					
				</div>
				<div class="col-sm-6 text-center-mobile" >
					<h3 class="white">Opening Hours <span class="open-blink"></span></h3>
					<div class="row opening-hours">
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">22nd Tuesday 2016</h5>
							<h3 class="regular white">9:00 - 4:00</h3>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script src="../static/js/typewriter.js"></script>
	<script src="../static/js/jquery.onepagenav.js"></script>
	<script src="../static/js/main.js"></script>
</body>

</html>
