<!DOCTYPE html>
<html>
  <head>
    <title>Real Madrid's Next Match</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/soon.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  </head>
  <!-- START BODY -->
  <body class="nomobile">

    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <h1 data-animated="GoIn"><b>Real Madrid</b> plays in</h1>
            </header>
            <!-- START TIMER -->
            <div id="timer" data-animated="FadeIn">
                <div id="days" class="timer_box"></div>
                <div id="hours" class="timer_box"></div>
                <div id="minutes" class="timer_box"></div>
                <div id="seconds" class="timer_box"></div>
                 <b><p id="message"></p></b>
            </div>
            <!-- END TIMER -->
            </br>
            <div class="col-lg-4 col-lg-offset-4 mt centered">

                <p>Powered by<strong> IntelliDesigns </strong></p>
			</div>


        </div>
        <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXTE READABLE -->
        <!-- END LAYER -->
        <!-- START SLIDER -->

        <!-- END SLIDER -->
    </section>
    <!-- END HEADER -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/soon/plugins.js"></script>
    <script src="static/js/soon/jquery.themepunch.revolution.min.js"></script>


    <input type="hidden" id="hour" name="hour" value="{{ hour }}">
    <input type="hidden" id="min" name="min" value="{{ minutes }}">
    <input type="hidden" id="opp" name="opp" value="{{ opp }}">
    <input type="hidden" id="loc" name="loc" value="{{ loc }}">
    <input type="hidden" id="year" name="year" value="{{ year }}">
    <input type="hidden" id="day" name="day" value="{{ day }}">
    <input type="hidden" id="month" name="month" value="{{ month }}">
<script src="static/js/soon/custom.js"></script>
  </body>
  <!-- END BODY -->
</html>
